Release WinGet packages.json
{
  "name": "Release WinGet packages",
  "nodes": [
    {
      "parameters": {
        "content": "Bruno",
        "height": 240,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        0
      ],
      "typeVersion": 1,
      "id": "9968358a-1edf-4ddd-9383-0920478838c9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "{\n  \"identifier\": \"Bruno.Bruno\",\n  \"repo\": \"usebruno/bruno\",\n  \"url\": \"'https://github.com/usebruno/bruno/releases/download/v{VERSION}/bruno_{VERSION}_x64_win.zip https://github.com/usebruno/bruno/releases/download/v{VERSION}/bruno_{VERSION}_x64_win.exe'\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        260,
        80
      ],
      "id": "fb70e93f-06b6-4f7f-835a-de499b588883",
      "name": "Release Bruno",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/usebruno/bruno/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        40,
        80
      ],
      "id": "15f373f7-bdc6-4575-830e-a2125748ba70",
      "name": "Bruno RSS feed"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/jgraph/drawio-desktop/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        40,
        340
      ],
      "id": "c8a3cb5e-9c1e-429c-8bf4-de73db2b506b",
      "name": "Draw.io RSS Feed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "{\n  \"identifier\": \"JGraph.Draw\",\n  \"repo\": \"jgraph/drawio-desktop\",\n  \"url\": \"'https://github.com/jgraph/drawio-desktop/releases/download/v{VERSION}/draw.io-ia32-{VERSION}-windows-32bit-installer.exe https://github.com/jgraph/drawio-desktop/releases/download/v{VERSION}/draw.io-{VERSION}-windows-installer.exe https://github.com/jgraph/drawio-desktop/releases/download/v{VERSION}/draw.io-arm64-{VERSION}-windows-arm64-installer.exe https://github.com/jgraph/drawio-desktop/releases/download/v{VERSION}/draw.io-{VERSION}.msi'\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        260,
        340
      ],
      "id": "91b8ccc9-8002-4529-b71c-b82635203df8",
      "name": "Release Draw.io",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "DrawIO",
        "height": 220,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -70,
        280
      ],
      "typeVersion": 1,
      "id": "a55d99d0-c955-4197-9894-70169bff9e30",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Obsidian",
        "height": 220,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -70,
        540
      ],
      "typeVersion": 1,
      "id": "f46ba2e0-cc82-4355-81ed-43fc6d4b8e86",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/obsidianmd/obsidian-releases/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        40,
        600
      ],
      "id": "354c9b11-b90c-4b8a-ae22-ff8ee4c83f31",
      "name": "Obsidian RSS Feed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "{\n  \"identifier\": \"Obsidian.Obsidian\",\n  \"repo\": \"obsidianmd/obsidian-releases\",\n  \"url\": \"https://github.com/obsidianmd/obsidian-releases/releases/download/v{VERSION}/Obsidian-{VERSION}.exe\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        260,
        600
      ],
      "id": "7d3d70e0-5f59-4232-8110-0854b8eb7ac4",
      "name": "Release Obsidian",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "MongoDB Compass",
        "height": 620,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -70,
        800
      ],
      "typeVersion": 1,
      "id": "d2577de2-e059-453f-8341-d92f7a32c099",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/mongodb-js/compass/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        40,
        1060
      ],
      "id": "52b2386f-10e3-485d-9201-1e85ea0e7d37",
      "name": "MongoDB Compass RSS Feed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "{\n  \"identifier\": \"MongoDB.Compass.Full\",\n  \"repo\": \"mongodb-js/compass\",\n  \"url\": \"https://github.com/mongodb-js/compass/releases/download/v{VERSION}/mongodb-compass-{VERSION}-win32-x64.msi\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        260,
        860
      ],
      "id": "80123c35-b048-49c9-ad9e-e83392d162da",
      "name": "Release MongoDB Compass Full",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "{\n  \"identifier\": \"MongoDB.Compass.Isolated\",\n  \"repo\": \"mongodb-js/compass\",\n  \"url\": \"https://github.com/mongodb-js/compass/releases/download/v{VERSION}/mongodb-compass-isolated-{VERSION}-win32-x64.msi\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        260,
        1060
      ],
      "id": "9230f9da-e4d2-4c92-adba-f0f3688e7dc3",
      "name": "Release MongoDB Compass Isolated",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "{\n  \"identifier\": \"MongoDB.Compass.Readonly\",\n  \"repo\": \"mongodb-js/compass\",\n  \"url\": \"https://github.com/mongodb-js/compass/releases/download/v{VERSION}/mongodb-compass-readonly-{VERSION}-win32-x64.msi\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        260,
        1260
      ],
      "id": "a00aeae6-5f31-4aa0-a551-886a4534123f",
      "name": "Release MongoDB Compass Readonly",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "Insomnia",
        "height": 440,
        "width": 1180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        1440
      ],
      "typeVersion": 1,
      "id": "9c7eb2e6-017b-478b-ae9d-0bb4ebb35b1d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/Kong/insomnia/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        40,
        1620
      ],
      "id": "84b82ade-b970-465b-b842-b2233240601c",
      "name": "Insomnia RSS Feed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "={\n  \"identifier\": \"Insomnia.Insomnia\",\n  \"repo\": \"Kong/insomnia\",\n  \"url\": \"https://github.com/Kong/insomnia/releases/download/core@{VERSION}/Insomnia.Core-{VERSION}.exe\",\n  \"version\": \"{{ $json.tag_name.split('@').last() }}\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        920,
        1520
      ],
      "id": "4a3811da-383c-40a9-9260-6c1dc7a5372a",
      "name": "Release Insomnia",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "={\n  \"identifier\": \"Insomnia.Inso\",\n  \"repo\": \"Kong/insomnia\",\n  \"url\": \"https://github.com/Kong/insomnia/releases/download/lib@{VERSION}/inso-windows-{VERSION}.zip\",\n  \"version\": \"{{ $json.tag_name.split('@').last() }}\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        920,
        1720
      ],
      "id": "4648a658-04a9-4d2a-b442-f2e561b5adca",
      "name": "Release Inso",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "Musescore",
        "height": 220,
        "width": 980,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -70,
        1920
      ],
      "typeVersion": 1,
      "id": "fba9d0eb-66dc-44ef-95cd-e9cf4215d258",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/musescore/MuseScore/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        40,
        1980
      ],
      "id": "499a63e8-e126-4ebc-8fdb-578b0c5bda36",
      "name": "Musescore RSS Feed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "={\n  \"identifier\": \"Musescore.Musescore\",\n  \"repo\": \"musescore/MuseScore\",\n  \"url\": \"https://github.com/musescore/MuseScore/releases/download/{{ $json.tag_name }}/MuseScore-Studio-{VERSION}-x86_64.msi\",\n  \"version\": \"{{ $json.assets.find(asset => asset.name.endsWith('.msi'))?.name.match(/MuseScore-Studio-(.*)-x86_64\\.msi/)[1] }}\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        700,
        1980
      ],
      "id": "386d0279-d978-4a6f-8a6d-1bf71db67507",
      "name": "Release Musescore",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "Stoplight Prism",
        "height": 220,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -70,
        2180
      ],
      "typeVersion": 1,
      "id": "b230feb8-c598-4904-838e-0b633a2b93fe",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/stoplightio/prism/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        40,
        2240
      ],
      "id": "b0b62d8c-c149-41bc-9da9-74205a07661e",
      "name": "Stoplight Prism RSS Feed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "{\n  \"identifier\": \"Stoplight.Prism\",\n  \"repo\": \"stoplightio/prism\",\n  \"url\": \"https://github.com/stoplightio/prism/releases/download/v{VERSION}/prism-cli-win.exe\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        260,
        2240
      ],
      "id": "d61d091a-ce35-49d3-bfaa-864417a78abc",
      "name": "Release Stoplight Prism",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "Stoplight Spectral",
        "height": 220,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -70,
        2440
      ],
      "typeVersion": 1,
      "id": "034c9f1c-46bf-4033-b031-d23b5230ce75",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/stoplightio/spectral/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        40,
        2500
      ],
      "id": "03894fba-b10b-4f60-a645-ba41362d9d18",
      "name": "Stoplight Spectral RSS Feed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "{\n  \"identifier\": \"Stoplight.Spectral\",\n  \"repo\": \"stoplightio/spectral\",\n  \"url\": \"https://github.com/stoplightio/spectral/releases/download/v{VERSION}/spectral.exe\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        260,
        2500
      ],
      "id": "35b1f5e3-4a6f-45e7-acb1-5a2400f54362",
      "name": "Release Stoplight Spectral",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "Stoplight Studio",
        "height": 220,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        2700
      ],
      "typeVersion": 1,
      "id": "2b15ddd0-b4cb-4099-90f5-38740efdaebb",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/stoplightio/studio/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        40,
        2760
      ],
      "id": "f3f26355-3e68-419d-b63a-9f33bf01810b",
      "name": "Stoplight Studio RSS Feed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "={\n  \"identifier\": \"Stoplight.Studio\",\n  \"repo\": \"stoplightio/studio\",\n  \"url\": \"https://github.com/stoplightio/studio/releases/download/{{ $json.tag_name }}/stoplight-studio-win.exe\",\n  \"version\": \"{{ $json.tag_name.match(/v(.*)-stable/)[1] }}\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        700,
        2760
      ],
      "id": "1d6520b0-1401-452f-9fc5-12db020a9e9e",
      "name": "Release Stoplight Studio",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "Adventure Game Studio",
        "height": 220,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        2960
      ],
      "typeVersion": 1,
      "id": "11b4259b-f5e6-480c-af2c-7589e3302e1a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/adventuregamestudio/ags/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        40,
        3020
      ],
      "id": "5f4f28d6-86a5-4a0f-bfb1-894cbf2cae89",
      "name": "Adventure Game Studio RSS Feed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "={\n  \"identifier\": \"AGSProjectTeam.AdventureGameStudio\",\n  \"repo\": \"adventuregamestudio/ags\",\n  \"url\": \"{{ $json.assets.find(asset => asset.name.endsWith('.exe'))?.browser_download_url }}\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        700,
        3020
      ],
      "id": "458aef04-cd6e-462a-8e2e-3a93358759ae",
      "name": "Release Adventure Game Studio",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/musescore/MuseScore/releases/tags/{{ $json.id.split('/').last() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        1980
      ],
      "id": "c4ad60f1-5872-477a-9368-95075ab5da66",
      "name": "Get Musescore release"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Kong/insomnia/releases/tags/{{ $json.id.split('/').last() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        1620
      ],
      "id": "59b2db6c-edf3-4adb-aace-3fc2ab20d330",
      "name": "Get Insomnia release"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8888717-1372-410e-9ee9-1c54e4be0247",
              "leftValue": "={{ $json.prerelease }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "e6599eea-cb06-421c-82ad-0dda410ff12c",
              "leftValue": "={{ $json.draft }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        1980
      ],
      "id": "387e64f1-6e76-4ba9-a5e2-dd1ecc866447",
      "name": "If Musescore released"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e1864dfc-e1d8-4271-80c9-e7c4a0822af1",
              "leftValue": "={{ $json.prerelease }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "609c88a6-0911-459e-b659-1f6b4d1b1d21",
              "leftValue": "={{ $json.draft }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        1620
      ],
      "id": "4325d9fc-e70b-4f32-9e79-e90116b3e2f8",
      "name": "If Insomnia released"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tag_name }}",
                    "rightValue": "core@",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "81ba5747-4725-49db-8532-989d9a1884ad"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Insomnia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98a0936e-45d2-4929-9a74-e8ac50a9d86c",
                    "leftValue": "={{ $json.tag_name }}",
                    "rightValue": "lib@",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Inso"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        700,
        1620
      ],
      "id": "c36ee9cc-ed11-457d-8494-a0d6848c7d7f",
      "name": "Insomnia or Inso?"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/stoplightio/studio/releases/tags/{{ $json.id.split('/').last() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        2760
      ],
      "id": "1fd862b1-5ff4-4aa9-af67-8d19754654f3",
      "name": "Get Stoplight Studio release"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8888717-1372-410e-9ee9-1c54e4be0247",
              "leftValue": "={{ $json.prerelease }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "e6599eea-cb06-421c-82ad-0dda410ff12c",
              "leftValue": "={{ $json.draft }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        2760
      ],
      "id": "61506e61-86f3-4854-ab7d-87e745c1e6ab",
      "name": "If Stoplight Studio released"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/adventuregamestudio/ags/releases/tags/{{ $json.id.split('/').last() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        3020
      ],
      "id": "2bd007e4-53c2-42cb-b587-094b61d8186a",
      "name": "Get AGS release"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8888717-1372-410e-9ee9-1c54e4be0247",
              "leftValue": "={{ $json.prerelease }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "e6599eea-cb06-421c-82ad-0dda410ff12c",
              "leftValue": "={{ $json.draft }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        3020
      ],
      "id": "2c0f78d5-d9e4-45b6-bd45-cbddcd6c9a09",
      "name": "If AGS released"
    },
    {
      "parameters": {
        "content": "Rio Terminal",
        "height": 220,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        3240
      ],
      "typeVersion": 1,
      "id": "d2c97e16-f99e-41eb-82ad-a4c268280c3c",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "rodrigoborgesdeoliveira",
          "mode": "list",
          "cachedResultName": "rodrigoborgesdeoliveira",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira"
        },
        "repository": {
          "__rl": true,
          "value": "auto-winget-pkgs",
          "mode": "list",
          "cachedResultName": "auto-winget-pkgs",
          "cachedResultUrl": "https://github.com/rodrigoborgesdeoliveira/auto-winget-pkgs"
        },
        "workflowId": {
          "__rl": true,
          "value": 174257108,
          "mode": "list",
          "cachedResultName": "Release WinGet package"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "{\n  \"identifier\": \"raphamorim.rio\",\n  \"repo\": \"raphamorim/rio\",\n  \"url\": \"'https://github.com/raphamorim/rio/releases/download/v{VERSION}/Rio-installer-x86_64.msi https://github.com/raphamorim/rio/releases/download/v{VERSION}/Rio-installer-aarch64.msi'\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        280,
        3300
      ],
      "id": "10f6c9d5-e1be-4818-9b46-f8f861f650f1",
      "name": "Release Rio Terminal",
      "webhookId": "1bf340ab-760c-45f6-92c5-f3f9fac3b1ed",
      "retryOnFail": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "AxtvUCvIL1uSAmcU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://github.com/raphamorim/rio/releases.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        60,
        3300
      ],
      "id": "c537b679-fc84-43cb-a67a-8bca31b15f7c",
      "name": "Rio Terminal RSS Feed"
    }
  ],
  "pinData": {},
  "connections": {
    "Bruno RSS feed": {
      "main": [
        [
          {
            "node": "Release Bruno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draw.io RSS Feed": {
      "main": [
        [
          {
            "node": "Release Draw.io",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obsidian RSS Feed": {
      "main": [
        [
          {
            "node": "Release Obsidian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Compass RSS Feed": {
      "main": [
        [
          {
            "node": "Release MongoDB Compass Full",
            "type": "main",
            "index": 0
          },
          {
            "node": "Release MongoDB Compass Isolated",
            "type": "main",
            "index": 0
          },
          {
            "node": "Release MongoDB Compass Readonly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insomnia RSS Feed": {
      "main": [
        [
          {
            "node": "Get Insomnia release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Musescore RSS Feed": {
      "main": [
        [
          {
            "node": "Get Musescore release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stoplight Prism RSS Feed": {
      "main": [
        [
          {
            "node": "Release Stoplight Prism",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stoplight Spectral RSS Feed": {
      "main": [
        [
          {
            "node": "Release Stoplight Spectral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stoplight Studio RSS Feed": {
      "main": [
        [
          {
            "node": "Get Stoplight Studio release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adventure Game Studio RSS Feed": {
      "main": [
        [
          {
            "node": "Get AGS release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Insomnia release": {
      "main": [
        [
          {
            "node": "If Insomnia released",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Musescore release": {
      "main": [
        [
          {
            "node": "If Musescore released",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Insomnia released": {
      "main": [
        [
          {
            "node": "Insomnia or Inso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insomnia or Inso?": {
      "main": [
        [
          {
            "node": "Release Insomnia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Release Inso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Musescore released": {
      "main": [
        [
          {
            "node": "Release Musescore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stoplight Studio release": {
      "main": [
        [
          {
            "node": "If Stoplight Studio released",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Stoplight Studio released": {
      "main": [
        [
          {
            "node": "Release Stoplight Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AGS release": {
      "main": [
        [
          {
            "node": "If AGS released",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If AGS released": {
      "main": [
        [
          {
            "node": "Release Adventure Game Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rio Terminal RSS Feed": {
      "main": [
        [
          {
            "node": "Release Rio Terminal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11b1b8e3-b359-48bf-85f6-0ef40c509574",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38effe97d9c69a307e3a2c0f9bf2e01678b117909ebda52281919e75b647e6fc"
  },
  "id": "DWuXXCUp0kSG1YN0",
  "tags": []
}